LLAMA_API_KEY=your_llama_api_key
GEMINI_API_KEY=your_gemini_api_key
EMBEDDINGS_API_KEY=your_embeddings_api_key
LANGSMITH_TRACING=true
LANGSMITH_ENDPOINT=""
LANGSMITH_API_KEY=""
LANGSMITH_PROJECT=""
FIREBASE_CONFIG_PATH=firebase.json
FRONTEND_URL="url of the frontend server"